<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Confi 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="dbFiles/db.properties"/>
    <typeAliases>
        <typeAlias type="com.solvd.university.models.Persons" alias="Person"/>
    </typeAliases>
    <environments default="demo">
        <environment id="demo">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
        </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource = "myBaties/mappers/mappers/PersonsMapper.xml"/>
    </mappers>
</configuration>