<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Confi 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="dbFiles/db.properties"/>
    <typeAliases>
        <typeAlias type="com.solvd.university.models.Persons" alias="Person"/>
        <typeAlias type="com.solvd.university.models.Students" alias="Student"/>
        <typeAlias type="com.solvd.university.models.Professors" alias="Professors"/>
    </typeAliases>
    <environments default="sexy">
        <environment id="sexy">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="myBaties/mappers/mappers/PersonsMapper.xml"/>
        <mapper resource="myBaties/mappers/mappers/StudentsMapper.xml"/>
        <mapper resource="myBaties/mappers/mappers/ProfessorsMapper.xml"/>

    </mappers>
</configuration>