<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.solvd.university.dao.IPersonsDAO">
    <resultMap id = "PersonsResultMap" type="Person" autoMapping = "false" >
        <id column ="id" property="id"  javaType="long"/>
        <result column="personName"  property="personName" />
        <result column="personSurrname" property="personSurname"  />
        <result column="personAge"  property="personAge" javaType="long" />
    </resultMap>

    <select id = "getPersonByID"  resultMap = "PersonsResultMap">
        <![CDATA[ SELECT * FROM persons  WHERE id = #{id}]]>
    </select>

    <insert id = "savePerson" useGeneratedKeys="true" keyProperty = "id" parameterType="Person">
    <![CDATA[ INSERT INTO persons (personName,personSurrname,personAge)
    VALUES (#{personName}, #{personSurname}, #{personAge}) ]]>
    </insert>

    <update id="updatePerson" parameterType="Person">
    UPDATE persons SET personName = #{personName}, personSurrname = #{personSurname}, personAge = #{personAge}
        WHERE id = #{id}
    </update>

    <delete id = "removePerson" parameterType="Person">
        <![CDATA[ DELETE FROM persons WHERE id = ${id}]]>
    </delete>

</mapper>