<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.university.dao.IProfessorsDAO">
    <resultMap id="ProfessorsResultMap" type="Professors" autoMapping="false">
        <id column="id" property="id" javaType="long"/>
        <result column="person_id" property="person_id" javaType="long"/>
        <result column="salary" property="salary" javaType="integer"/>
        <result column="academicDegree" property="academicDegree"/>
        <result column="subject_id" property="subject_id" javaType="long"/>
    </resultMap>

    <select id="getProfessorByID" resultMap="ProfessorsResultMap">
        <![CDATA[ SELECT * FROM professors  WHERE id = #{id}]]>
    </select>

    <insert id="saveProfessor" useGeneratedKeys="true" keyProperty="id" parameterType="Professors">
        <![CDATA[ INSERT INTO professors (person_id,academicDegree,salary)
    VALUES (#{person_id}, #{academicDegree}, #{salary}) ]]>
    </insert>


    <update id="updateProfessor" parameterType="Professors">
        UPDATE professors SET salary = #{salary}
        WHERE id = #{id}
    </update>


    <delete id="removeProfessor" parameterType="Professors">
        <![CDATA[ DELETE FROM professors WHERE id = ${id}]]>
    </delete>

<!--    <select id="getStudentsWithNames" resultMap="StudentsResultMap">-->
<!--        SELECT * FROM students  LEFT JOIN persons on person_id = #{id}-->
<!--    </select>-->


</mapper>